h1, p{
    text-align: center;
}

li:hover{
    background-color: rgb(208, 208, 208);
}

li:active{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:link { 
    color: rgb(0, 0, 72) 
} 
a:visited { 
    color: rgb(236, 0, 236) 
} 
a:hover { 
    font-weight: bold 
} 
a:active { 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif) 
}